# 默认忽略的文件
/shelf/
/workspace.xml
# 数据源本地存储已忽略文件
/../../../../../../../../../:\Java，，\Raise a wife\VM\ZIP\apache-tomcat-10.0.13-windows-x64\apache-tomcat-10.0.13\demo04\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
